<footer>
  <p>
  Data provided by <a id="footerLink" href="https://opentransportdata.swiss" target="_blank" rel="noopener noreferrer">opentransportdata.swiss</a><br>
  Created by Shaun
  </p>
</footer>