<footer>
  <p>
  Data provided by <a class="footer-link" href="https://opentransportdata.swiss" target="_blank" rel="noopener noreferrer">opentransportdata.swiss</a><br>
  Created by Shaun. View this project on <a class="footer-link" href="https://github.com/shaun6522/Swiss-Train-Formations" target="_blank" rel="noopener noreferrer">GitHub</a>
  </p>
</footer>